{{define "login"}}
{{template "header"}}

<style type="text/css">
    div.form-field {
        width: 50%;
        margin: 0 auto 20px;
    }
</style>

<form method="POST">

<div class="form-field">
    <label for="username">Email:</label>
    <input id="username" name="username" type="text" />
</div>

<div class="form-field">
    <label for="username">Password:</label>
    <input id="password" name="password" type="password" />
</div>

<div class="form-field">
    <input type="submit" value="Submit" />
</div>

</form>

{{template "footer"}}
{{end}}