{{define "user_login"}}
{{template "header" .}}

<style type="text/css">
    div.form-field {
        width: 50%;
        margin: 0 auto 20px;
    }
    ul.error-messages {
        width: 50%;
        margin: 0 auto 20px;
        list-style: none;
        padding-left: 0;
    }
    ul.error-messages li {
        border-color: #FF0000;
        box-shadow: 0 0 0 1px #FF0000;
        background-color: #FFC2C3;
        color: #000000;
        border-radius: 4px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
</style>

<script type="text/javascript">
    var error = {{.Strings.LoginError}};
    
    if (typeof jQuery !== 'undefined') {
        $(function() {
            if (error == "") {
                return;
            }
            
            $("form").prepend(('<ul class="error-messages"><li>'+error+'</li></ul>'));
        });
    }
</script>

<form method="POST">

    <div class="form-field">
        <label for="username">Email/Username:</label>
        <input id="username" name="username" type="text" />
    </div>

    <div class="form-field">
        <label for="username">Password:</label>
        <input id="password" name="password" type="password" />
    </div>

    <div class="form-field">
        <input type="submit" value="Submit" />
    </div>

</form>

{{template "footer" .}}
{{end}}