{{define "user_profile"}}
{{template "header" .}}

<style type="text/css">
    div.form-field {
        width: 50%;
        margin: 0 auto 20px;
    }
    ul.error-messages {
        width: 50%;
        margin: 0 auto 20px;
        list-style: none;
        padding-left: 0;
    }
    ul.error-messages li {
        border-color: #FF0000;
        box-shadow: 0 0 0 1px #FF0000;
        background-color: #FFC2C3;
        color: #000000;
        border-radius: 4px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
</style>

<script type="text/javascript">
    var errors = JSON.parse({{.Strings.FormErrors}});
    
    if (typeof jQuery !== 'undefined') {
        $(function() {
            if (errors.length == 0) {
                return;
            }
            
            messages = $('<ul class="error-messages"></ul>');
            
            for (var i = 0; i < errors.length; i++) {
                messages.append('<li>'+errors[i].Message+'</li>');
                $('#'+errors[i].Field).addClass("error");
            }
            
            $("form").prepend(messages);
        });
    }
</script>

<form method="POST">

    <div class="form-field">
        <label for="username">Display Name:</label>
        <input id="displayName" name="displayName" type="text" value="{{.Storage.User.DisplayName}}" />
    </div>

    <div class="form-field">
        <label for="username">Username:</label>
        <input id="username" name="username" type="text" value="{{.Storage.User.Username}}" />
    </div>

    <div class="form-field">
        <label for="email">Email:</label>
        <input id="email" name="email" type="text" value="{{.Storage.User.Email}}" />
    </div>

    <div class="form-field">
        <label for="password">Password:</label>
        <input id="password" name="password" type="password" />
    </div>

    <div class="form-field">
        <label for="verifyPassword">Verify Password:</label>
        <input id="verifyPassword" name="verifyPassword" type="password" />
    </div>

    <div class="form-field">
        <input type="submit" value="Submit" />
    </div>

</form>

{{template "footer" .}}
{{end}}