{{define "user_verify"}}
{{template "header" .}}

<style type="text/css">
    div.verify-message {
        width: 50%;
        margin: 0 auto 20px;
        text-align: center;
    }
</style>

<div class="verify-message">
    {{if .Booleans.Verified}}
        Your account has been verified.<br />You will be redirected to the <a href="{{.Strings.LoginURL}}">Login</a> page in 5 seconds.
        <meta http-equiv="refresh" content="7; url={{.Strings.LoginURL}}">
    {{else}}
        Your account could not be verified.
    {{end}}
</div>


{{template "footer" .}}
{{end}}