{{define "header"}}<!DOCTYPE HTML>
<!--
	Visualize by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Enliven: Go. Simply.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<style type="text/css">
			h1 {
				text-align: center;
			}
		</style>
	</head>
	<body>

		<!-- Wrapper -->
		<div id="wrapper">

			<!-- Header -->
			<header id="header">
				<h1><strong>Enliven</strong>: Go. Simply.</h1>
				<ul class="icons">
					<li><a href="/">Home</a></li>
					{{if .Booleans.UserLoggedIn}}
						<li><a href="/user/profile/">Profile</li>
						{{if .Enliven.Auth.HasPermission "admin-app" .}}
							<li><a href="/admin/">Admin Panel</li>
						{{end}}
						<li><a href="/user/logout/">Sign Out</li>
					{{else}}
						<li><a href="/user/login/">Sign In</li>
						<li><a href="/user/register/">Register</li>
					{{end}}
				</ul>
			</header>

			<!-- Content -->
			<section id="content">
{{end}}